
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  font-weight: normal;
  color: purple;
  text-transform: uppercase;
}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* my styles */

.box-container {
    width: 100%;
    min-height: 300px;
    background-color: lightgray;
}

.box {
    height: 50px;
    width: 120px;
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
}

#position .box-container {
}
#position .box {
  float: left;
  margin-right: 1rem;
}

#position .box:last-child {
  margin-right: 0;
}

#flexbox .box-container {
  display: flex;
  justify-content: space-between;
}
#flexbox .box {
}

#grid .box-container {
}
#grid .box {
}

.align-center {
  text-align: center;
  /* trick to vertically-align, but messes up other stuff */
  /* vertical-align: middle;
  display: table-cell; */
}